        @import url('https://fonts.googleapis.com/css?family=Montserrat');
        body {
            background-color: #22313F;
            font-family: Montserrat;
        }
        
        .download-phone {
            display: none;
        }
        
        .contact-links:hover {
            text-decoration: none;
        }
        
        .download-button {
            border-radius: 7%;
            margin-left: 10px;
        }
        
        .download-button-text {
            background: #22313f;
            color: white
        }
        
        .download-button-text:hover {
            background: #00000f;
            color: white;
            box-shadow: 0px 6px 17px 0px #00000054;
        }
        
        .container-fluid {
            margin: auto;
        }
        
        .container {
            margin-top: 50px;
            background-color: aliceblue;
            border-radius: 15px;
            padding: 50px;
            -webkit-transition: border-radius ease 0.5s;
            /* Safari */
            transition: border-radius ease 0.5s;
        }
        
        .container:hover {
            box-shadow: 0px 0px 20px 20px #0000001f;
            border-radius: 20px;
            background-color: #e6f2fc;;
        }
        
        .container:active {
            outline-width: 3px;
            outline-style: solid;
            outline-color: #007bff;
            border-radius: 0px;
        }
        
        .marks {
            border-left: solid;
            border-left: 1.5px solid;
        }
        
        .objective {
            font-style: italic;
            color: #007bff;
            font-size: 16px;
            background: #ffffff4d;
            padding-left: 10px;
            border-radius: 8px;
            margin-top: 20px;
        }
        
        .contact-info {
            margin-top: 0px;
            max-width: 1060px;
            padding: 30px;
            text-align: center;
        }
        
        #circle {
            width: 13px;
            height: 13px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            background: #007bff;
            display: inline-block;
            margin-left: 3;
        }
        
        .rborder {
            border-right: solid 1px rgba(163, 163, 163, 0.24);
        }
        
        #circle-dim {
            width: 13px;
            height: 13px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            background: grey;
            margin-top: 1px;
            display: inline-block;
            margin-left: 3;
        }
        
        .interests {
            padding: 8px;
            font-size: 14px;
        }
        
        @media (max-width: 1100px) {
            .contact-info {
                margin-top: 0px;
                max-width: 100%;
            }
        }
        
        @media (max-width: 1024px) {
            .contact-info {
                font-size: 14px;
            }
            #circle,
            #circle-dim {
                height: 8px;
                width: 8px;
            }
            .langs {
                font-size: 15px;
            }
            .interests {
                padding: 8px;
                font-size: 10px;
            }
        }
        
        @media (max-width: 768px) {
            .container-fluid {
                max-width: 100%;
                padding-right: 0px;
                padding-left: 0px;
            }
            .edu {
                text-align: center;
            }
            .marks {
                border: none;
            }
            .container {
                padding-left: 10px;
                padding-right: 10px;
            }
            hr {
                display: none;
            }
            .eduentry {
                border-bottom: solid;
                border-bottom: 1px solid;
                padding-bottom: 50px;
                margin-top: 50px;
                border-bottom-color: #979393;
            }
            .contact-info {
                font-size: 12px;
                max-width: 80%;
            }
        }
        
        h1 {
            font-weight: 900;
        }
        
        .mydp {
            width: 250px;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }

        .mydp:hover{
            box-shadow: 0 0 17px 0px #00000087;
        }
        
        a {
            color: #22313f;
        }
        
        hr {
            border-top: 1px solid rgba(255, 255, 255, 0.24);
        }
        
        .low-opacity{
            opacity: 0.4;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #008CBA;
        }
        
        .ovtext {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
        
        .portfBox:hover .overlay {
            opacity: 1;
        }
        
        .navbar-fixed-top,
        .navbar-fixed-bottom {
            position: fixed;
            right: 0;
            left: 0;
            z-index: 1030;
            background-color: aliceblue !important;
            box-shadow: 0px 3px 20px 0px #00000059;
        }
        
        @media (max-width:584px) {
            .download-button {
                display: none;
            }
            #introm {
                display: none;
            }
            #port {
                display: none;
            }
            .navbar-brand {
                margin: auto;
            }
            .nav {
                margin: auto;
                flex-flow: unset;
            }
            .container {
                border-radius: 5px;
            }
            .firstB {
                margin-top: 80px;
            }
            .download-phone {
                display: inline;
                text-align: center;
                flex: auto;
                background: #22313f;
                color: white !important;
                padding-top: 6px;
                padding-bottom: 6px;
                border-radius: 5px;
                width: 100%;
            }
        }
        
        @media (max-width:387px) {
            ul > li:first-of-type {
                display: none;
            }
        }
        
        @-webkit-keyframes highlight {
            from {
                border-radius: 15px;
            }
            to {
                border-radius: 0px;
            }
        }
        
        @keyframes highlight {
            from {
                border-radius: 15px;
            }
            to {
                border-radius: 0px;
            }
        }

        .facebook-link:hover{
                color: #3b5998;
        }
        .github-link:hover{
                color: #000333
        }
        .linkedin-link:hover{
                color: #0077B5
        }
