@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap);

$font-stack: 'Montserrat', sans-serif;
$primary-color: #22313f;

body {
  background-color: $primary-color;
  font-family: $font-stack;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

a {
  color: #22313f;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.24);
}

.container-fluid {
  margin: auto;
}

.container {
  -webkit-transition: border-radius ease 0.5s;
  /* Safari */
  transition: border-radius ease 0.5s;
}

.container:hover {
  box-shadow: 0px 0px 20px 20px #0000001f;
  border-radius: 1.3rem;
  background-color: #e6f2fc;
}

.container:active {
  outline-width: 3px;
  outline-style: solid;
  outline-color: #007bff;
  border-radius: 0px;
}

.icon-popover .popover {
  line-height: 1;
}

h2 {
  font-weight: 400;
}

@media (min-width: 1400px) {
  .container-fluid.container-custom-size {
    max-width: 68rem;
    .container.reach-block {
      max-width: 62rem;
    }
  }
}

/* 
  The following style is calculated using Golden Ratio.
  The base font-size is 16px
  To calculate it, I used https://type-scale.com
*/
html {
  font-size: 16px; // base font
}
.font-size-1 {
  font-size: 3.052rem
}
.font-size-2 {
  font-size: 2.441rem;
}
.font-size-3 {
  font-size: 1.953rem;
}
.font-size-4 {
  font-size: 1.563rem;
}
.font-size-5 {
  font-size: 1.25rem;
}
.font-size-6 {
  font-size: 1rem;
}
.font-size-7 {
  font-size: 0.8rem;
}
.font-size-8 {
  font-size: 0.64rem;
}
.font-size-9 {
  font-size: 0.512rem;
}

